
@model mallform.ViewModel.TenantFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Rent A Shop </h2>




@using (Html.BeginForm("Form", "LeasingForm"))

{

    <label>
        Shop Name
    </label>
    @Html.TextBoxFor(m => m.shopName, new { @class = "form-control " })


    <label>
        Brand Name
    </label>
    @Html.TextBoxFor(m => m.brandName, new { @class = "form-control " })

    <label>
        Address
    </label>

    @Html.TextBoxFor(m => m.Address, new { @class = "form-control " })

    <label>
        Mobile No
    </label>

    @Html.TextBoxFor(m => m.mobileNo, new { @class = "form-control " })

    <label>
        Pan No
    </label>

    @Html.TextBoxFor(m => m.panNo, new { @class = "form-control " })

 =


    <button type="submit" class="btn btn-primary">Submit </button>


}